{% extends 'base.html' %}

{% block content %}

<main class="sectionContacto">
  <div class="diseñoContacto">
      <h1 class="titulo">Perfiles</h1>
      <h2><a href="{% url 'perfiles:create' %}">CREAR PERFIL</a></h2>
  
  
      {% for perfil in perfil %}
      <ul>
      <li> {{perfil.nombre}}</li>
      <li>{{perfil.telefono}}</li>
      <li>{{perfil.email}}</li>
      <li>{{perfil.domicilio}}</li>
      </ul>
      <div> 
          <span class="formulario">
            <label for="">Detalle: </label>
              <a href= "{% url 'perfiles:detail' perfil.id %}" class="formulario" > +</a>
          </span>
          <span class="formulario">
            <label for="">Editar</label>
              <a href="{% url 'perfiles:create' perfil.id %}" class="formulario">+ </a>
          </span>
          <span class="">
            <label for="">Borrar: </label>
              <a href="{% url 'perfiles:delete' perfil.id %}" class="formulario">+ </a>
          </span>
      </div>

      
      {% endfor %}

  </div>
</main> 




{% endblock %}