{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/cards.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="https://kit.fontawesome.com/f6d3bfa140.js" crossorigin="anonymous"></script>
  <script defer src="{% static 'js/script.js' %}"></script>
  <script defer src="{% static 'js/main.js' %}"></script>
  <script defer src="{% static 'js/api.js' %}" type="module"></script>
  <title>Portfolio</title>
</head>

<body class="dark">
  <!-- HOME -->
  <nav class="nav">
    <button class="modo" id="modo"><img src=" {% static 'media/img/brillo.png' %}" alt="" class="brillo"></button>
    <!-- MENU -->
    <button class="nav-toggle">
      <i class="fa-solid fa-bars fa-lg"></i>
    </button>
    <ul class="nav-menu">
      <li type="none" class="nav-menu-item">
        <a href="#home" class="link">HOME</a>
      </li>
      <li type="none" class="nav-menu-item">
        <a href="#nosotros" class="link">NOSOTROS</a>
      </li>
      <li type="none" class="nav-menu-item">
        <a href="#skills" class="link">SKILLS</a>
      </li>
      <li type="none" class="nav-menu-item">
        <a href="#contacto" class="link">CONTACTO</a>
      </li>
      <li type="none" class="nav-menu-item">
        <a href="{% url 'perfiles:all' %}" class="link">CARGAR PERFILES</a>
      </li>
    </ul>
  </nav>

  {% block content %}
  {%endblock%}

  <footer class="foot-ppal">
    <p>2023 - Todos los derechos reservados</p>
  </footer>



</body>


</html>